.Login {
    display: flex;
    flex-direction: column;
    margin: 5% 15%;
}

.Login h1 {
    margin-bottom: 20px;
    font-size: 12pt;
}

.Login input {
    height: 30px;
    width: auto;
    margin-bottom: 20px;
    border-radius: 10px;
}

.Login button {
    height: 30px;
    width: auto;
    border-radius: 10px;
    font-size: 12pt;
    background-color: #bbb;
    border-style: none;
    cursor: pointer;
}

.Login button:hover {
    background-color: #888;
}

.Login #loginError {
    color: red;
    margin-top: 10px;
}